## Import libs

In [1]:
#import libraries
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Load Raw CSV and replace Nan values with 0

,Symbol,ETF Name,ESG Score,ESG Score Peer Percentile (%),ESG Score Global Percentile (%),Carbon Intensity (Tons of CO2e / $M Sales),Sustainable Impact Solutions (%)
0,SPY,SPDR S&P 500 ETF Trust,8.06,68.18%,71.77%,150.02,5.65%
1,IVV,iShares Core S&P 500 ETF,8.06,67.75%,71.67%,150.12,5.64%
2,VTI,Vanguard Total Stock Market ETF,7.68,36.83%,62.54%,150.27,5.79%
3,VOO,Vanguard S&P 500 ETF,8.06,67.40%,71.62%,150.21,5.63%
4,QQQ,Invesco QQQ Trust,7.99,59.66%,69.84%,54.57,7.53%

In [2]:
df_timeseries = pd.read_csv('MASTERDATASET.csv', sep=",", index_col=False)
df_ESG = pd.read_csv('ESGSCORES.csv', index_col=False,usecols=[0,2])

df_timeseries = df_timeseries.replace(np.nan,0)
df_ESG = df_ESG.replace(np.nan,0)

print(df_timeseries.shape)
print(df_ESG.shape)
df_ESG.head()

(6472, 657)
(1633, 2)

  Symbol  ESG Score
0    SPY       8.06
1    IVV       8.06
2    VTI       7.68
3    VOO       8.06
4    QQQ       7.99

## Drop ETFs that do not have ESG scores

In [17]:
Columns=656
assetLabels_timeseries = df_timeseries.columns[0:Columns+1].tolist()
assetLabels_ESG = df_ESG['Symbol'].tolist()

df = df_timeseries

df_assetLabels_timeseries=pd.DataFrame(assetLabels_timeseries,columns=["Symbol"])
df_assetLabels_ESG=pd.DataFrame(assetLabels_ESG,columns=["Symbol"])
df_assetLabels= pd.concat([df_assetLabels_timeseries, df_assetLabels_ESG],axis= 0)

df_assetLabels=df_assetLabels[df_assetLabels[['Symbol']].duplicated() == True]
df_assetLabels=df_assetLabels.drop_duplicates()

ds=df_assetLabels['Symbol']
ds=np.append(ds,'Row Labels')

df=df.loc[:, df.columns.isin(ds)]

ETFs=df_assetLabels['Symbol']

Rows=df.shape[0]
Columns=df.shape[1]
print("Rows: ",Rows)
print("Columns: ", Columns)

Rows:  6472
Columns:  321

## Replace 0 values with mean stock price value

In [18]:
df.replace(0,df.mean(axis=0),inplace=True)
df.head()
df.to_csv('out.csv')